* {
  scrollbar-width: thin;
  scrollbar-color: #ff35a1 #070d12;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #070d12;
}

*::-webkit-scrollbar-thumb {
  background-color: #ff35a1;
  border-radius: 20px;
  border: 3px solid #070d12;
}